[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "*"
Pillow = "*"
django-filter = "*"
gunicorn = "*"
django-heroku = "*"
django-decouple = "*"
dj-database-url = "*"
whitenoise = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.7"
